@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #FCAF3B;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 100px;
  color: #130057;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 60px;
  color: #32a8a2;
  font-family:Tahoma, Geneva, Verdana, sans-serif
}

.body_text {
  color:#130057;
  padding: 8px;
  margin: 10px;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(153, 166, 205);
  border-radius: 10px;
  text-align: center;
  outline: 5px;

}

footer {
  text-align: center;
}


  .menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }
  
  .footer-button {
    background-color: #32a8a2; /* Your preferred background color */
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    
}

.footer-button:hover {
    background-color: #005bb5;
}

footer {
    position: fixed;
    bottom: 200px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

